<nav class="app-nav">
    <a aria-label="ibm-label" class="docs-button mat-button" mat-button="" routerlink="/" tabindex="0"
        aria-disabled="false" target="_blank" href="https://www.ibm.com/in-en/about/covid19">
        <span class="mat-button-wrapper">
            <img class="logo" alt="ibm" src="../assets/ibm-logo.png">
        </span>
    </a>
    <div class="flex-spacer center-align">
        <a aria-label="twitter-label" class="docs-button mat-button" mat-button="" routerlink="/" tabindex="0"
            aria-disabled="false" target="_blank" href="https://twitter.com/CallforCode?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
            <span class="mat-button-wrapper" style="padding-left: 7.5rem">
                <img class="logo" alt="twitter" src="../assets/twitter-logo.png">
            </span>
        </a>
    </div>
    <a aria-label="cognizant-label" class="docs-button mat-button" mat-button="" routerlink="/" tabindex="0"
        aria-disabled="false" target="_blank" href="https://news.cognizant.com/2020-04-01-Cognizant-Philanthropies-Commit-10-Million-to-Support-Communities-Worldwide-Impacted-by-COVID-19">
        <span class="mat-button-wrapper">
            <img class="logo" alt="cts" src="../assets/cognizant-logo.png">
        </span>
    </a>
</nav>